<H1><%= @article.title %></H1>
<p>
	Tags
	<% @article.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>
<p><%= image_tag @article.image.url(:medium) %></p>
<P><%= @article.body %></P>
<br>
<br>
<h3>Comments (<%= @article.comments.size %>)</h3>

<%= render partial: "articles/comment", collection: @article.comments %><br><br>
<%= render partial: 'comments/form' %>

<%= link_to "<<< Go back to article list", articles_path %>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<%= link_to "Edit", edit_article_path(@article)%>