<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Fen's Blogger</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container-fluid">
				<% if flash.alert || flash.notice %>
					<div id="flash" class="alert alert-<%= flash[:classparams] %> col-ml-12" role="alert" >
						<%= flash.alert ? flash.alert : flash.notice %>
					</div>
				<% end %>
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>						
					<span class="icon-bar"></span>	
				</button>
				<a class="navbar-brand" href="index.html">Smart Trip</a>
				
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="post.html">Sample Post</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <% if logged_in? %>
						<li><a href="#" style="color: Yellow;"><%= "Logged in as #{current_user.email}" %></a></li>
						<li><%= link_to "Logout", logout_path %></li>
					<% else %>
						<!-- <li><%= link_to "Login", login_path %></li> -->
						<li><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#loginModal">sign in</button></li>
					<% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
	</nav>

	

	<%= yield %>
	



	<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Big Fen 2015</p>
                </div>
            </div>
        </div>
    </footer>


<% unless logged_in? %>
<!--login modal-->
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="text-center">Login</h1>
      </div>
      <%= form_tag author_sessions_path, { method: :post, class: "form col-md-12 center-block"} do %>
      <div class="modal-body">
          <div class="form-group">
            <%= text_field_tag :email, nil, { class: "form-control input-lg", placeholder: "Email" } %>
          </div>
          <div class="form-group">
            <%= password_field :password, nil, { class: "form-control input-lg", placeholder: "Password" } %>
          </div>
          <div class="form-group">
            <%= submit_tag "Sign In", class: "btn btn-primary btn-lg btn-block" %>
            <span class="pull-right"><a href="#">Register</a></span><span><%= link_to 'Back', articles_path %></span>
          </div>
      </div>
    <% end %>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>  
      </div>
    </div>
  </div>
</div>
<% end %>

</body>
</html>
